{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}
{% block content %}
    <main id="main">

        <div class="container">
            <div class="row topspace">
                <div class="col-lg-6 col-sm-12 maincontent">
                    <h3>{% trans "Contacts" %}</h3>
                    <br>
                    <h5><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:alexeykutepov@yandex.ru">alexeykutepov@yandex.ru</a></h5>
                    <h5><i class="fa fa-skype" aria-hidden="true"></i> <a href="skype:alexey_kutepov">alexey_kutepov</a><br></h5>
                    <h5><i class="fa fa-phone" aria-hidden="true"></i> +7 (916) 453-91-24<br></h5>
                </div>
                <div class="col-lg-6 col-sm-12 maincontent">
                    <h3>{% trans "I'm in social networks" %}</h3>
                    <br>
                    <h5><i class="fa fa-vk" aria-hidden="true"></i> <a href="https://vk.com/alkutepov">https://vk.com/alkutepov</a><br></h5>
                    <h5><i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com/alkutepov">https://www.facebook.com/alkutepov</a><br></h5>
                    <h5><i class="fa fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/alexeykutepov">https://www.linkedin.com/in/alexeykutepov</a><br></h5>
                    <h5><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/AlexeyKutepov">https://github.com/AlexeyKutepov</a><br></h5>
                </div>
            </div>
            <!-- section -->
            <div id="modalAlert" class="modal" role="dialog"
                 aria-labelledby="modalAlert">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Thank you!" %}</h4>
                        </div>
                        <div class="modal-body center-block">
                            <h5 id="alertText">{% trans "Your message has been successfully sent!" %}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="send" data-dismiss="modal" class="btn btn-action">OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <form id="formFeedback" action="{% url "feedback" %}" method="post">
                {% csrf_token %}
                <!-- Modal -->
                <div id="modalFeedback" class="modal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{% trans "Мessage" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>{% trans "Email address" %} <i class="text-danger">*</i></label>
                                            <input class="form-control" name="email" type="email"
                                                   placeholder="mail@example.com">

                                            <p><label>{% trans "Write a message" %}</label>
                                                <textarea rows="5" style="width:100%;" class="form-control"
                                                          name="message"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" name="send" class="btn btn-action">{% trans "Send" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row section topspace">
                <div class="panel panel-cta">
                    <div class="panel-body">
                        <div class="col-lg-8">
                            <p>{% placeholder "message" %}</p>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="" class="btn btn-primary btn-lg" data-toggle="modal"
                               data-target="#modalFeedback">{% trans "Write a message" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section -->
        </div>
        <!-- /container -->
    </main>
{% endblock %}
{% block js %}
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/feedback.js"></script>
    {% endaddtoblock %}
{% endblock %}