{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}
{% block meta %}
    <meta name="description" content="Сайт разработчика программного обеспечения Алексея Кутепова: разработка серверных приложений на Java и Python, разработка мобильных приложений под Android">
{% endblock %}
{% block header %}
    <header id="header">
        <div id="head" class="parallax" parallax-speed="2">
            <h1 id="logo" class="text-center">
                <img class="img-circle" src="{{ STATIC_URL }}img/me.jpg" alt="">
                <span class="title">{% trans "Alexey Kutepov" %}</span>
                <span class="tagline">{% trans "Software Engineer" %}<br>
                    <a href="{% page_language_url "ru" %}">Русский</a> | <a
                            href="{% page_language_url "en" %}">English</a></span>
            </h1>
        </div>

        <div class="navbar navbar-default navbar-sticky" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Menu" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <main id="main">

        <div class="container">

{#            <div class="row section topspace">#}
{#                <div class="col-md-12">#}
{#                    <p class="lead text-center text-muted">{% placeholder "citation" %}</p>#}
{#                </div>#}
{#            </div>#}
            <!-- / section -->

            <div class="row section featured topspace">
{#                <h2 class="section-title"><span>{% trans "Services" %}</span></h2>#}

                <div class="row">
                    {% placeholder "services" %}
                </div>
            </div>
            <!-- / section -->

            <div class="row section recentworks topspace">

                <h2 class="section-title"><span>{% trans "Recent Works" %}</span></h2>

                <div class="thumbnails recentworks row">
                    {% placeholder "portfolio" %}
                </div>

            </div>
            <!-- /section -->

            <div id="modalAlert" class="modal" role="dialog"
                 aria-labelledby="modalAlert">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Thank you!" %}</h4>
                        </div>
                        <div class="modal-body center-block">
                            <h5 id="alertText">{% trans "Your message has been successfully sent!" %}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="send" data-dismiss="modal" class="btn btn-action">OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <form id="formFeedback" action="{% url "feedback" %}" method="post">
                {% csrf_token %}
                <!-- Modal -->
                <div id="modalFeedback" class="modal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{% trans "Мessage" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>{% trans "Email address" %} <i class="text-danger">*</i></label>
                                            <input class="form-control" name="email" type="email"
                                                   placeholder="mail@example.com" required>
                                            <input class="dn" name="subject" type="text">

                                            <p><label>{% trans "Write a message" %}</label>
                                                <textarea rows="5" style="width:100%;" class="form-control"
                                                          name="message" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" name="send" class="btn btn-action">{% trans "Send" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row section topspace">
                <div class="panel panel-cta">
                    <div class="panel-body">
                        <div class="col-lg-8">
                            <p>{% placeholder "message" %}</p>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="" class="btn btn-primary btn-lg" data-toggle="modal"
                               data-target="#modalFeedback">{% trans "Write a message" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section -->

            <div class="row section featured topspace">
                <h2 class="section-title"><span>{% trans "Articles" %}</span></h2>

                <div class="row">
                    {% placeholder "latest_articles" %}
                </div>
            </div>
            <!-- / section -->


            {#        <div class="row section clients topspace">#}
            {#            <h2 class="section-title"><span>{% trans "Clients" %}</span></h2>#}
            {##}
            {#            <div class="col-lg-12">#}
            {#                <p>#}
            {#                    <img src="{{ STATIC_URL }}img/sample_clients.png" alt="">#}
            {#                </p>#}
            {#            </div>#}
            {#        </div>#}
            <!-- /section -->

        </div>
        <!-- /container -->
    </main>
{% endblock %}
{% block js %}
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/feedback.js"></script>
    {% endaddtoblock %}
{% endblock %}