{% extends CMS_TEMPLATE %}
{% load i18n cms_tags apphooks_config_tags %}
{% block content %}

    <main id="main">

	<div class="container">

		<div class="row topspace">
            <!-- Article list main content -->
            <article class="col-sm-8 maincontent">
                {% block newsblog_content %}
                    {# article_list.html and article_detail.html extend this template #}
                {% endblock %}
            </article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

                {% static_placeholder "widget" %}

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

</main>

{% endblock content %}
